.bg-red{
  background:#dc3545 !important;
}
.bg-orange{
  background:#fd7e14 !important;
}
.bg-purple{
  background:#6f42c1!important;
}
.bg-purple-white{
  background:#C782B9!important;
}
.bg-yellow{
  background:#ffc107 !important;
}
.bg-yellow-dark{
  background:#CCA351 !important;
}
.bg-green{
  background:#28a745 !important;
}
.bg-danger{
  background:#dc3545 !important;
}
.bg-price{
  background:#3f6fff !important;
}
.bg-greem-paste{
  background:#9bd771 !important;
}


.bg-dark{
	color:white;
}

.border-amarelo {
  border-color: #CCA351 !important;
}
.badge-amarelo {
  color: #fff;
  background-color: #CCA351;
}

.border-verde {
  border-color: #9bd771 !important;
}
.badge-verde {
  color: #fff;
  background-color: #9bd771;
}

.border-verdeDark {
  border-color: #28a745 !important;
}
.badge-verdeDark {
  color: #fff;
  background-color: #28a745;
}

.border-roxoClaro {
  border-color: #C782B9 !important;
}
.badge-roxoClaro {
  color: #fff;
  background-color: #C782B9;
}

.border-roxo {
  border-color: #6f42c1 !important;
}
.badge-roxo {
  color: #fff;
  background-color: #6f42c1;
}

.border-abobora {
  border-color: #8F5444 !important;
}
.badge-abobora {
  color: #fff;
  background-color: #8F5444;
}

.border-orange {
  border-color: #fd7e14 !important;
}
.badge-orange {
  color: #fff;
  background-color: #fd7e14;
}

.border-azulEscuro {
  border-color: #495678 !important;
}
.badge-azulEscuro {
  color: #fff;
  background-color: #495678;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
main{
  min-height: 800px;
}
footer{
 color: white;
}

.move {
  cursor: move;
}